<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Enjoy.Client.WindowsPhone\packages.config" />
  <repository path="..\src\Enjoy.Client.WinRT\packages.config" />
  <repository path="..\src\Enjoy.Client.Wpf\packages.config" />
  <repository path="..\src\Enjoy.Server.BusinessLogic\packages.config" />
  <repository path="..\src\Enjoy.Server.DataAccess\packages.config" />
  <repository path="..\src\Enjoy.Server.Wcf\packages.config" />
</repositories>