<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f18de39e-9899-454b-9823-e4b6e70e928e" Publisher="CN=Geert" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Enjoy!</DisplayName>
    <PublisherDisplayName>CatenaLogic</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Enjoy.App">
      <VisualElements DisplayName="Enjoy!" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Great example to enjoy!" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Enjoy!" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>