<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.6.1310102241-beta" targetFramework="win" />
  <package id="Catel.Fody" version="1.5.3.0" targetFramework="win" />
  <package id="Catel.MVVM" version="3.6.1310102241-beta" targetFramework="win" />
  <package id="Fody" version="1.17.4.0" targetFramework="win" />
  <package id="ModuleInit.Fody" version="1.5.3" targetFramework="win" />
</packages>